// Variables

// Title
$title-size: 1.25rem;

// Container
$container-width: 960px;

// Image
$portrait-size: 120px;

// Color
$text-color: #000;
$link-color: #4682b4;
$active-link-color: #a0522d;
$border-color: #ccc;
$nav-background-color: #333;
$nav-text-color: #fff;
$header-background-color: #f2f2f2;
