{% extends "default.html" %}

{% block content %}
{% include "header.html" %}
<main role="main">
    <div class="container">
        <div class="p1">
            <div class="flex">
                <img class="portrait" src="https://uedatakumi.github.io/static-files/uedatakumi2019.png" />
                <div>
                    <ul>
                        <li>E-mail: {{ config.extra.email }}</li>
                        <li>GitHub: <a href={{ config.extra.github_url }}>@uedatakumi</a></li>
                        <li>LinkedIn: <a href={{ config.extra.linkedin_url }}>uedatakumi94</a></li>
                    </ul>
                </div>
            </div>
            {{ section.content | safe }}
        </div>
    </div>
</main>
{% include "footer.html" %}
{% endblock %}
